.product
	.price_text
		position: relative
	&._sale
		.price
			ins,p
				color: white
			background: url("../img/price_red.png") left 0 no-repeat

		.price_helper_panel
			min-width: 255px
.price_old
	ins
		font: normal 14px "PTSansRegular"
		text-decoration: line-through
	.rouble
		font-size: 12px
	.units
		font-size: 11px

.price_helper
	position: absolute
	left: 30px
	top: -18px

.price_helper_image
	cursor: pointer
	&:hover
		& + .price_helper_panel
			display: block
			opacity: 1
			left: -40px


.price_helper_panel
	position: absolute
	top: 45px
	min-width: 200px
	transition: opacity .3s
	opacity: 0
	left: -9999px
	padding: 15px
	border-radius: 10px
	background-color: #fff7e2
	box-shadow: 0px 0px 6.65px 0.35px rgba(0, 0, 0, 0.2)
	z-index: 10
	h5
		font-size: 15px
		margin-bottom: 10px
	h6
		font-size: 13px
		line-height: 19px
		margin-bottom: 8px
	p
		font: normal 13px "PTSansItalic"
		line-height: 19px
	&:before
		content: ""
		display: block
		position: absolute
		height: 13px
		width: 13px
		top: -7px
		left: 43px
		background-color: #fff7e2
		transform: rotate(53deg) skew(33deg,15deg)
		box-shadow: -1px -1px 1px 0.35px rgba(0,0,0,.09)

.price_helper_discount
	font-size: 20px
	display: flex
	align-items: baseline
	.rouble
		margin-left: 3px
	&:before
		content: ""
		display: block
		width: 24px
		height: 17px
		margin-right: 7px
		background-size: cover
		background-repeat: no-repeat
	&.__gold
		color: #bc9722
		&:before
			background-image: url("../img/sale_gold.png")
	&.__silver
		color: #8e979b
		margin-bottom: 5px
		&:before
			background-image: url("../img/sale_silver.png")
